body{
 background-color: grey;
 text-align: center;
}

h1{
  color: lightblue;
  text-shadow: 1px 1px 1px black;
}
h1:hover {
  cursor: grab;
}

#pages {
  margin-bottom: 20px;
}
#pagesAutres {
  background-color: lightblue;
  color: grey;
}
#user{
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: lightblue;
}

.card img {
  border-radius: 50%;
  margin-bottom: 10px;
  
}